.login-container {
    width: 50%;
    margin: 20px auto;
    padding: 20px 30px;
    border: 1px solid #cccccc;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    background-color: #333;
    color: #fff;
}

.button {
    width: 50%;
    margin: 20px 0;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    /* Horizontal offset, vertical offset, blur radius, color */
    font-weight: bold;
    background-color: #fff;
    color: #555;
}

.button-container {
    display: flex;
    justify-content: center;
}

.form-control {
    border: none;
    border-bottom: 3px solid #0a1fb9;
    border-radius: 0;
    padding: 10px;
    margin: 20px auto;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    color: #444;
}

.signup-text {
    text-align: center;
    margin-top: 20px;
}

.signup-text a {
    font-weight: bold;
    text-decoration: underline;
}